{% extends 'template/main.html' %}
{% block body %}
    <div style="height: calc(100% - 56px);width:100%;">
        <div id="map"></div>
        <div id="detail-info" class="jumbotron mt-3">
            <h1></h1>
            <p class="lead">
                <span class="address"></span><br>
                <span class="victim"></span><br>
            </p>
            <p class="lead">
            Reported at: <span class="reported"></span></br>
            Occured: <span class="occured"></span>
            </p>
            <a class="btn btn-sm btn-primary" href="#" target="_blank" role="button">Find Article »</a>
        </div>
    </div>
{% endblock %}
